Repository luhis/CodeGolf: changes, and which Codecov flags are due for each by the changed paths.
All: dotnet, npm

codecov.yml:

coverage:
  status:
    projects:
      dotnet:
        flags: dotnet
      npm:
        flags: npm          
flags:
  dotnet:
    paths:
      - .
  npm:
    paths:
      - CodeGolf.Web/ClientApp

fixed popup layout issue
  CodeGolf.Web/ClientApp/src/routes/game/notificationTemplate.tsx
Due: npm

fixed dashboard with function componenents
  CodeGolf.Web/ClientApp/src/routes/dashboard/index.tsx
Due: npm

added render test
  CodeGolf.Web/ClientApp/src/template.html
  CodeGolf.Web/ClientApp/src/tests/__snapshots__/render.test.tsx.snap
  CodeGolf.Web/ClientApp/src/tests/render.test.tsx
Due: npm

Update dependency lint-staged to v10.0.8
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

added coverage ignores
  CodeGolf.ExecutionServer/Program.cs
  CodeGolf.ExecutionServer/Startup.cs
  CodeGolf.Web/Program.cs
Due: none

removed unused code
  CodeGolf.Web/Attributes/RecaptchaAttribute.cs
Due: none

removed unused code
  CodeGolf.Web/Attributes/GameAdminAuthAttribute.cs
Due: none

added coverage ignore
  codecov.yml
Due: none

Update dependency @monaco-editor/react to v3.1.1
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

migrated nswag to swashbuckle
  .gitignore
  CodeGolf.Web/CodeGolf.Web.csproj
  CodeGolf.Web/Extensions/ApplicationBuilderExtensions.cs
  CodeGolf.Web/Startup.cs
Due: dotnet

Update dependency MediatR to v8.0.1
  CodeGolf.Service/CodeGolf.Service.csproj
  CodeGolf.Web/CodeGolf.Web.csproj
Due: none

fixed indents in TSX
  CodeGolf.Web/ClientApp/.editorconfig
  CodeGolf.Web/ClientApp/.vscode/settings.json
  CodeGolf.Web/ClientApp/src/components/app.tsx
  CodeGolf.Web/ClientApp/src/components/challenge/index.tsx
  CodeGolf.Web/ClientApp/src/components/codeEditor/index.tsx
  CodeGolf.Web/ClientApp/src/components/cookieConsent/index.tsx
  CodeGolf.Web/ClientApp/src/components/createGame/funcComp.tsx
  CodeGolf.Web/ClientApp/src/components/createGame/index.tsx
  CodeGolf.Web/ClientApp/src/components/footer/index.tsx
  CodeGolf.Web/ClientApp/src/components/header/index.tsx
  CodeGolf.Web/ClientApp/src/components/icons/index.tsx
  CodeGolf.Web/ClientApp/src/components/loading/index.tsx
  CodeGolf.Web/ClientApp/src/components/privacy/funcComp.tsx
  CodeGolf.Web/ClientApp/src/components/privacy/index.tsx
  CodeGolf.Web/ClientApp/src/components/results/errors.tsx
  CodeGolf.Web/ClientApp/src/components/results/index.tsx
  CodeGolf.Web/ClientApp/src/components/results/success.tsx
  CodeGolf.Web/ClientApp/src/components/signOut/funcComp.tsx
  CodeGolf.Web/ClientApp/src/components/signOut/index.tsx
  CodeGolf.Web/ClientApp/src/routes/admin/funcComp.tsx
  CodeGolf.Web/ClientApp/src/routes/admin/index.tsx
  CodeGolf.Web/ClientApp/src/routes/attempt/funcComp.tsx
  CodeGolf.Web/ClientApp/src/routes/codefile/funcComp.tsx
  CodeGolf.Web/ClientApp/src/routes/codefile/index.tsx
  CodeGolf.Web/ClientApp/src/routes/dashboard/controls.tsx
  CodeGolf.Web/ClientApp/src/routes/dashboard/funcComp.tsx
  CodeGolf.Web/ClientApp/src/routes/dashboard/times.tsx
  CodeGolf.Web/ClientApp/src/routes/game/index.tsx
  CodeGolf.Web/ClientApp/src/routes/game/notification.ts
  CodeGolf.Web/ClientApp/src/routes/game/notificationTemplate.tsx
  CodeGolf.Web/ClientApp/tslint.json
Due: npm

removed final class components
  CodeGolf.Web/ClientApp/.vscode/settings.json
  CodeGolf.Web/ClientApp/src/components/cookieConsent/index.tsx
  CodeGolf.Web/ClientApp/src/components/createGame/index.tsx
  CodeGolf.Web/ClientApp/src/components/header/index.tsx
Due: npm

Update dependency typescript to v3.8.3
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Pin dependency prettier to 1.19.1
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency preact to v10.3.3
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update typescript-eslint monorepo to v2.22.0
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency @typescript-eslint/eslint-plugin-tslint to v2.22.0
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency Ensure.That to v8.2.0
  CodeGolf.Domain/CodeGolf.Domain.csproj
  CodeGolf.Recapcha/CodeGolf.Recaptcha.csproj
  CodeGolf.Service/CodeGolf.Service.csproj
Due: none

Update dependency Ensure.That to v8.2.0 (#218)
  CodeGolf.Domain/CodeGolf.Domain.csproj
  CodeGolf.Recapcha/CodeGolf.Recaptcha.csproj
  CodeGolf.Service/CodeGolf.Service.csproj
Due: none

Update dependency @fortawesome/react-fontawesome to v0.1.9
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency @fortawesome/react-fontawesome to v0.1.9 (#219)
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency @types/classnames to v2.2.10
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency eslint-plugin-react to v7.19.0
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency @types/jest to v25.1.4
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

tidy test startup
  Tests/CodeGolf.Integration.Test/Fixtures/CustomWebApplicationFactory.cs
Due: none

Revert "tidy test startup"
  Tests/CodeGolf.Integration.Test/Fixtures/CustomWebApplicationFactory.cs
Due: none

Update renovate.json
  .github/renovate.json
Due: dotnet

Update dependency @typescript-eslint/eslint-plugin-tslint to v2.23.0
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update typescript-eslint monorepo to v2.23.0
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

improve tests
  CodeGolf.Web/Extensions/ServiceCollectionExtensions.cs
  Tests/CodeGolf.Integration.Test/Controllers/AdminControllerShould.cs
  Tests/CodeGolf.Integration.Test/Controllers/ChallengeControllerShould.cs
  Tests/CodeGolf.Integration.Test/Fixtures/CustomWebApplicationFactory.cs
  Tests/CodeGolf.Integration.Test/Tooling/FakeUserFilter.cs
  Tests/CodeGolf.Integration.Test/Tooling/TestAuthHandler.cs
Due: none

improve tests (#226)
  CodeGolf.Web/Extensions/ServiceCollectionExtensions.cs
  Tests/CodeGolf.Integration.Test/Controllers/AdminControllerShould.cs
  Tests/CodeGolf.Integration.Test/Controllers/ChallengeControllerShould.cs
  Tests/CodeGolf.Integration.Test/Fixtures/CustomWebApplicationFactory.cs
  Tests/CodeGolf.Integration.Test/Tooling/FakeUserFilter.cs
  Tests/CodeGolf.Integration.Test/Tooling/TestAuthHandler.cs
Due: none

Update dependency preact-cli to v3.0.0-rc.10
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency Swashbuckle.AspNetCore to v5.1.0
  CodeGolf.Web/CodeGolf.Web.csproj
Due: none

Update dependency preact to v10.3.4
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency WebMarkupMin.AspNetCore3 to v2.8.1
  CodeGolf.Web/CodeGolf.Web.csproj
Due: none

cleanup code
  CodeGolf.Recapcha/DiModule.cs
  CodeGolf.Recapcha/GetCaptchaValue.cs
  CodeGolf.Recapcha/IGetCaptchaValue.cs
  CodeGolf.Web/Attributes/GameAdminAuthAttribute.cs
  CodeGolf.Web/Attributes/RecaptchaAttribute.cs
  CodeGolf.Web/Controllers/AccessController.cs
  CodeGolf.Web/Extensions/ServiceCollectionExtensions.cs
Due: none

cleanup code (#231)
  CodeGolf.Recapcha/DiModule.cs
  CodeGolf.Recapcha/GetCaptchaValue.cs
  CodeGolf.Recapcha/IGetCaptchaValue.cs
  CodeGolf.Web/Attributes/GameAdminAuthAttribute.cs
  CodeGolf.Web/Attributes/RecaptchaAttribute.cs
  CodeGolf.Web/Controllers/AccessController.cs
  CodeGolf.Web/Extensions/ServiceCollectionExtensions.cs
Due: none
