Repository luhis/CodeGolf: changes, and which Codecov flags are due for each by the changed paths.
All: dotnet, npm

Update dependency Ensure.That to v9.2.0
  CodeGolf.Domain/CodeGolf.Domain.csproj
  CodeGolf.Recaptcha/CodeGolf.Recaptcha.csproj
  CodeGolf.Service/CodeGolf.Service.csproj
Due: none

Update mcr.microsoft.com/dotnet/core/sdk Docker tag to v3.1.301
  .circleci/config.yml
Due: dotnet

Update Microsoft.EntityFrameworkCore monorepo to v3.1.5
  CodeGolf.Persistence/CodeGolf.Persistence.csproj
  Tests/CodeGolf.Integration.Test/CodeGolf.Integration.Test.csproj
Due: none

Update dependency @types/jest to v26
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update aspnet Extensions monorepo to v3.1.5
  CodeGolf.CollectableAssembly/CodeGolf.CollectableAssembly.csproj
  CodeGolf.Persistence.Static/CodeGolf.Persistence.Static.csproj
  CodeGolf.Recaptcha/CodeGolf.Recaptcha.csproj
  CodeGolf.Service/CodeGolf.Service.csproj
Due: none

Update dependency Microsoft.AspNetCore.TestHost to v3.1.5
  Tests/CodeGolf.Unit.Test/CodeGolf.Unit.Test.csproj
Due: none

Update dependency Microsoft.AspNetCore.Mvc.Testing to v3.1.5
  Tests/CodeGolf.Integration.Test/CodeGolf.Integration.Test.csproj
Due: none

Update dependency Microsoft.AspNetCore.SpaServices.Extensions to v3.1.5
  CodeGolf.Web/CodeGolf.Web.csproj
Due: none

Update typescript-eslint monorepo to v3.2.0
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency Dahomey.Json to v1.6.2
  Tests/CodeGolf.Integration.Test/CodeGolf.Integration.Test.csproj
Due: none

Update dependency lint-staged to v10.2.10
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update typescript-eslint monorepo to v3.3.0
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update linters
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency WebMarkupMin.AspNetCore3 to v2.8.4
  CodeGolf.Web/CodeGolf.Web.csproj
Due: none

Update Font Awesome
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency Moq to v4.14.3
  Tests/CodeGolf.Unit.Test/CodeGolf.Unit.Test.csproj
Due: none

Update dependency lint-staged to v10.2.11
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency Swashbuckle.AspNetCore to v5.5.0
  CodeGolf.Web/CodeGolf.Web.csproj
Due: none

Update dependency eslint to v7.3.0
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update typescript-eslint monorepo to v3.4.0
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency jest to v26.1.0
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency Grpc.Tools to v2.30.0
  CodeGolf.Service/CodeGolf.Service.csproj
Due: none

Update dependency @types/jest to v26.0.2
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency @types/jest to v26.0.3
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency Moq to v4.14.4
  Tests/CodeGolf.Unit.Test/CodeGolf.Unit.Test.csproj
Due: none

Update dependency Swashbuckle.AspNetCore to v5.5.1
  CodeGolf.Web/CodeGolf.Web.csproj
Due: none

Update dependency MediatR to v8.0.2
  CodeGolf.Service/CodeGolf.Service.csproj
  CodeGolf.Web/CodeGolf.Web.csproj
Due: none

Update dependency MediatR.Extensions.Microsoft.DependencyInjection to v8.0.1
  CodeGolf.Web/CodeGolf.Web.csproj
Due: none

Update dependency preact to v10.4.5
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency Moq to v4.14.5
  Tests/CodeGolf.Unit.Test/CodeGolf.Unit.Test.csproj
Due: none

Update dependency typescript to v3.9.6
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update typescript-eslint monorepo to v3.5.0
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update typescript-eslint monorepo to v3.6.0
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency react-ga to v3.1.2
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency preact to v10.4.6
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update mcr.microsoft.com/dotnet/core/sdk Docker tag to v3.1.302
  .circleci/config.yml
Due: dotnet

Update dependency Grpc.AspNetCore to v2.30.0
  CodeGolf.ExecutionServer/CodeGolf.ExecutionServer.csproj
Due: none

Path conditions:
  dotnet: any of: .
  npm: any of: CodeGolf.Web/ClientApp
