Repository luhis/CodeGolf: changes, and which Codecov flags are due for each by the changed paths.
All: dotnet, npm

codecov.yml:

coverage:
  status:
    projects:
      dotnet:
        flags: dotnet
      npm:
        flags: npm          
flags:
  dotnet:
    paths:
      - .
  npm:
    paths:
      - CodeGolf.Web/ClientApp

Move GameAdminSettings into correct folder.
  CodeGolf.Web/Controllers/AccessController.cs
  CodeGolf.Web/GameAdminSettings.cs
  CodeGolf.Web/Startup.cs
  CodeGolf.Web/Tooling/GameAdminChecker.cs
Due: none

Move GameAdminSettings into correct folder. (#232)
  CodeGolf.Web/Controllers/AccessController.cs
  CodeGolf.Web/GameAdminSettings.cs
  CodeGolf.Web/Startup.cs
  CodeGolf.Web/Tooling/GameAdminChecker.cs
Due: none

added a test
  Tests/CodeGolf.Integration.Test/CodeGolf.Integration.Test.csproj
  Tests/CodeGolf.Integration.Test/Controllers/AccessControllerShould.cs
  Tests/CodeGolf.Integration.Test/Tooling/JsonOptions.cs
Due: none

added a test
  CodeGolf.Web/Attributes/GameAdminAuthAttribute.cs
  Tests/CodeGolf.Integration.Test/Controllers/AdminControllerShould.cs
Due: none

additional tests
  Tests/CodeGolf.Integration.Test/Controllers/AdminControllerShould.cs
Due: none

refactored tests
  Tests/CodeGolf.Integration.Test/Controllers/AccessControllerShould.cs
  Tests/CodeGolf.Integration.Test/Controllers/AdminControllerShould.cs
  Tests/CodeGolf.Integration.Test/Controllers/ChallengeControllerShould.cs
  Tests/CodeGolf.Integration.Test/Controllers/CodeControllerShould.cs
  Tests/CodeGolf.Integration.Test/Fixtures/CustomWebApplicationFactory.cs
Due: none

first admin test added
  Tests/CodeGolf.Integration.Test/Controllers/AdminControllerShould.cs
  Tests/CodeGolf.Integration.Test/Fixtures/CustomWebApplicationFactory.cs
  Tests/CodeGolf.Integration.Test/Tooling/AdminAuthHandler.cs
  Tests/CodeGolf.Integration.Test/Tooling/NonAdminAuthHandler.cs
Due: none

added testing Admin UserName
  Tests/CodeGolf.Integration.Test/Fixtures/CustomWebApplicationFactory.cs
Due: none

Update typescript-eslint monorepo to v2.24.0
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency @typescript-eslint/eslint-plugin-tslint to v2.24.0
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency @monaco-editor/react to v3.1.2
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

how did i spell my name wrong?
  CodeGolf.Web/ClientApp/src/template.html
Due: npm

Update dependency Microsoft.CodeAnalysis.CSharp to v3.5.0
  CodeGolf.Service/CodeGolf.Service.csproj
Due: none

Update mcr.microsoft.com/dotnet/core/sdk Docker tag to v3.1.200
  .circleci/config.yml
Due: dotnet

Update dependency WebMarkupMin.AspNetCore3 to v2.8.2
  CodeGolf.Web/CodeGolf.Web.csproj
Due: none

Update dependency Swashbuckle.AspNetCore to v5.2.0
  CodeGolf.Web/CodeGolf.Web.csproj
Due: none

Update dependency FluentAssertions to v5.10.3
  Tests/CodeGolf.Integration.Test/CodeGolf.Integration.Test.csproj
  Tests/CodeGolf.Unit.Test/CodeGolf.Unit.Test.csproj
Due: none

Update dependency eslint-config-prettier to v6.10.1
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Add CancellationToken to ReCaptcha.
  CodeGolf.Recapcha/IRecaptchaVerifier.cs
  CodeGolf.Recapcha/RecaptchaVerifier.cs
  CodeGolf.Web/Attributes/RecaptchaAttribute.cs
  Tests/CodeGolf.Integration.Test/Fixtures/MockRecaptchaVerifier.cs
Due: none

Rename Recapcha folder to correct name.
  CodeGolf.Recaptcha/CodeGolf.Recaptcha.csproj
  CodeGolf.Recaptcha/DiModule.cs
  CodeGolf.Recaptcha/IRecaptchaVerifier.cs
  CodeGolf.Recaptcha/ReCaptchaResponse.cs
  CodeGolf.Recaptcha/RecaptchaSettings.cs
  CodeGolf.Recaptcha/RecaptchaVerifier.cs
  CodeGolf.sln
Due: none

Fix casing on ReCaptcha.
  CodeGolf.Recaptcha/ReCaptchaResponse.cs
  CodeGolf.Recaptcha/RecaptchaVerifier.cs
Due: none

Fix build.
  CodeGolf.Web/CodeGolf.Web.csproj
Due: none

Add CancellationToken to repositories.
  CodeGolf.Domain/Repositories/IAttemptRepository.cs
  CodeGolf.Domain/Repositories/IChallengeRepository.cs
  CodeGolf.Domain/Repositories/IGameRepository.cs
  CodeGolf.Domain/Repositories/IHoleRepository.cs
  CodeGolf.Domain/Repositories/IUserRepository.cs
  CodeGolf.Persistence.Static/ChallengeRepository.cs
  CodeGolf.Persistence/Repositories/AttemptRepository.cs
  CodeGolf.Persistence/Repositories/GameRepository.cs
  CodeGolf.Persistence/Repositories/HoleRepository.cs
  CodeGolf.Persistence/Repositories/UserRepository.cs
  CodeGolf.Service/AdminService.cs
  CodeGolf.Service/DashboardService.cs
  CodeGolf.Service/GameService.cs
  CodeGolf.Service/Handlers/FinalScoresHandler.cs
  CodeGolf.Service/IAdminService.cs
  CodeGolf.Service/IDashboardService.cs
  CodeGolf.Web/Controllers/AdminController.cs
  Tests/CodeGolf.Unit.Test/Services/AdminServiceShould.cs
  Tests/CodeGolf.Unit.Test/Services/DashboardServiceShould.cs
  Tests/CodeGolf.Unit.Test/Services/GameServiceShould.cs
Due: none

Cancellation tokens (#243)
  CodeGolf.Domain/Repositories/IAttemptRepository.cs
  CodeGolf.Domain/Repositories/IChallengeRepository.cs
  CodeGolf.Domain/Repositories/IGameRepository.cs
  CodeGolf.Domain/Repositories/IHoleRepository.cs
  CodeGolf.Domain/Repositories/IUserRepository.cs
  CodeGolf.Persistence.Static/ChallengeRepository.cs
  CodeGolf.Persistence/Repositories/AttemptRepository.cs
  CodeGolf.Persistence/Repositories/GameRepository.cs
  CodeGolf.Persistence/Repositories/HoleRepository.cs
  CodeGolf.Persistence/Repositories/UserRepository.cs
  CodeGolf.Recapcha/IRecaptchaVerifier.cs
  CodeGolf.Recaptcha/CodeGolf.Recaptcha.csproj
  CodeGolf.Recaptcha/DiModule.cs
  CodeGolf.Recaptcha/IRecaptchaVerifier.cs
  CodeGolf.Recaptcha/ReCaptchaResponse.cs
  CodeGolf.Recaptcha/RecaptchaSettings.cs
  CodeGolf.Recaptcha/RecaptchaVerifier.cs
  CodeGolf.Service/AdminService.cs
  CodeGolf.Service/DashboardService.cs
  CodeGolf.Service/GameService.cs
  CodeGolf.Service/Handlers/FinalScoresHandler.cs
  CodeGolf.Service/IAdminService.cs
  CodeGolf.Service/IDashboardService.cs
  CodeGolf.Web/Attributes/RecaptchaAttribute.cs
  CodeGolf.Web/CodeGolf.Web.csproj
  CodeGolf.Web/Controllers/AdminController.cs
  CodeGolf.sln
  Tests/CodeGolf.Integration.Test/Fixtures/MockRecaptchaVerifier.cs
  Tests/CodeGolf.Unit.Test/Services/AdminServiceShould.cs
  Tests/CodeGolf.Unit.Test/Services/DashboardServiceShould.cs
  Tests/CodeGolf.Unit.Test/Services/GameServiceShould.cs
Due: none

Update dependency ts-loader to v6.2.2
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency prettier to v2
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency Swashbuckle.AspNetCore to v5.2.1
  CodeGolf.Web/CodeGolf.Web.csproj
Due: none

Update dependency bulma to v0.8.1
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update Font Awesome
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update typescript-eslint monorepo to v2.25.0
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency @typescript-eslint/eslint-plugin-tslint to v2.25.0
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency lint-staged to v10.0.9
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency prettier to v2.0.2
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency Microsoft.AspNetCore.Mvc.Testing to v3.1.3
  Tests/CodeGolf.Integration.Test/CodeGolf.Integration.Test.csproj
Due: none

Update aspnet Extensions monorepo to v3.1.3
  CodeGolf.Persistence.Static/CodeGolf.Persistence.Static.csproj
  CodeGolf.Recaptcha/CodeGolf.Recaptcha.csproj
  CodeGolf.Service/CodeGolf.Service.csproj
Due: none

Update dependency Microsoft.AspNetCore.SpaServices.Extensions to v3.1.3
  CodeGolf.Web/CodeGolf.Web.csproj
Due: none

Update Microsoft.EntityFrameworkCore monorepo to v3.1.3
  CodeGolf.Persistence/CodeGolf.Persistence.csproj
  Tests/CodeGolf.Integration.Test/CodeGolf.Integration.Test.csproj
Due: none

Update dependency Microsoft.AspNetCore.TestHost to v3.1.3
  Tests/CodeGolf.Unit.Test/CodeGolf.Unit.Test.csproj
Due: none

Update mcr.microsoft.com/dotnet/core/sdk Docker tag to v3.1.201
  .circleci/config.yml
Due: dotnet

Update dependency jest to v25.2.0
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm
