Repository luhis/CodeGolf: changes, and which Codecov flags are due for each by the changed paths.
All: dotnet, npm

codecov.yml:

coverage:
  status:
    projects:
      dotnet:
        flags: dotnet
      npm:
        flags: npm          
flags:
  dotnet:
    paths:
      - .
  npm:
    paths:
      - CodeGolf.Web/ClientApp

Update dependency ts-loader to v7.0.2
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency lint-staged to v10.2.1
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency jest to v25.5.3
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency lint-staged to v10.2.2
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency jest to v25.5.4
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency @typescript-eslint/eslint-plugin-tslint to v2.31.0
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency preact-render-to-string to v5.1.7
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency ts-loader to v7.0.3
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency typescript to v3.9.2
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update mcr.microsoft.com/dotnet/core/sdk Docker tag to v3.1.202
  .circleci/config.yml
Due: dotnet

Update dependency ts-loader to v7.0.4
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency System.Text.Json to v4.7.2
  CodeGolf.Recaptcha/CodeGolf.Recaptcha.csproj
  CodeGolf.Service/CodeGolf.Service.csproj
Due: none

Update dependency Microsoft.AspNetCore.TestHost to v3.1.4
  Tests/CodeGolf.Unit.Test/CodeGolf.Unit.Test.csproj
Due: none

Update dependency ts-date to v3.0.1
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update aspnet Extensions monorepo to v3.1.4
  CodeGolf.CollectableAssembly/CodeGolf.CollectableAssembly.csproj
  CodeGolf.Persistence.Static/CodeGolf.Persistence.Static.csproj
  CodeGolf.Recaptcha/CodeGolf.Recaptcha.csproj
  CodeGolf.Service/CodeGolf.Service.csproj
Due: none

Update dependency Microsoft.AspNetCore.SpaServices.Extensions to v3.1.4
  CodeGolf.Web/CodeGolf.Web.csproj
Due: none

Update dependency Microsoft.AspNetCore.Mvc.Testing to v3.1.4
  Tests/CodeGolf.Integration.Test/CodeGolf.Integration.Test.csproj
Due: none

Update Microsoft.EntityFrameworkCore monorepo to v3.1.4
  CodeGolf.Persistence/CodeGolf.Persistence.csproj
  Tests/CodeGolf.Integration.Test/CodeGolf.Integration.Test.csproj
Due: none

Update dependency ts-jest to v25.5.1
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency preact-render-to-string to v5.1.8
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update typescript-eslint monorepo to v2.33.0
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency node-sass to v4.14.1
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency jest to v26
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update linters
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency eslint to v7
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency Grpc.Tools to v2.29.0
  CodeGolf.Service/CodeGolf.Service.csproj
Due: none

Update dependency @types/jest to v25.2.2
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency ts-jest to v26
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency preact to v10.4.4
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update mcr.microsoft.com/dotnet/core/sdk Docker tag to v3.1.300
  .circleci/config.yml
Due: dotnet

Update dependency @typescript-eslint/eslint-plugin-tslint to v2.34.0
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update typescript-eslint monorepo to v2.34.0
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency lint-staged to v10.2.4
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency bulma-toast to v2
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency @types/jest to v25.2.3
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

removed unused packages
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency markdown-to-jsx to v6.11.2
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency typescript to v3.9.3
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency markdown-to-jsx to v6.11.4
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update typescript-eslint monorepo to v3
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm
