Repository luhis/CodeGolf: changes, and which Codecov flags are due for each by the changed paths.
All: dotnet, npm

Update dependency typescript to v3.9.7
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency ts-date to v3.0.2
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency OneOf to v2.1.155
  CodeGolf.Service/CodeGolf.Service.csproj
Due: none

Update dependency WebMarkupMin.AspNetCore3 to v2.8.8
  CodeGolf.Web/CodeGolf.Web.csproj
Due: none

Update dependency enzyme-adapter-preact-pure to v2.2.1
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update aspnet Extensions monorepo to v3.1.6
  CodeGolf.CollectableAssembly/CodeGolf.CollectableAssembly.csproj
  CodeGolf.Persistence.Static/CodeGolf.Persistence.Static.csproj
  CodeGolf.Recaptcha/CodeGolf.Recaptcha.csproj
  CodeGolf.Service/CodeGolf.Service.csproj
Due: none

Update dependency @types/jest to v26.0.7
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency Microsoft.AspNetCore.TestHost to v3.1.6
  Tests/CodeGolf.Unit.Test/CodeGolf.Unit.Test.csproj
Due: none

Update dependency Dahomey.Json to v1.9.0
  Tests/CodeGolf.Integration.Test/CodeGolf.Integration.Test.csproj
Due: none

Update dependency Grpc.Net.Client to v2.30.0
  CodeGolf.Service/CodeGolf.Service.csproj
Due: none

Update dependency eslint-plugin-react to v7.20.4
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency Microsoft.AspNetCore.SpaServices.Extensions to v3.1.6
  CodeGolf.Web/CodeGolf.Web.csproj
Due: none

Update Microsoft.EntityFrameworkCore monorepo to v3.1.6
  CodeGolf.Persistence/CodeGolf.Persistence.csproj
  Tests/CodeGolf.Integration.Test/CodeGolf.Integration.Test.csproj
Due: none

Update dependency preact-render-to-string to v5.1.10
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency Microsoft.AspNetCore.Mvc.Testing to v3.1.6
  Tests/CodeGolf.Integration.Test/CodeGolf.Integration.Test.csproj
Due: none

Update Font Awesome
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency sass-loader to v9
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency MediatR to v8.1.0
  CodeGolf.Service/CodeGolf.Service.csproj
  CodeGolf.Web/CodeGolf.Web.csproj
Due: none

Update dependency MediatR.Extensions.Microsoft.DependencyInjection to v8.1.0
  CodeGolf.Web/CodeGolf.Web.csproj
Due: none

Update dependency NetEscapades.AspNetCore.SecurityHeaders to v0.11.2
  CodeGolf.Web/CodeGolf.Web.csproj
Due: none

Update dependency xunit.runner.visualstudio to v2.4.3
  Tests/CodeGolf.Integration.Test/CodeGolf.Integration.Test.csproj
  Tests/CodeGolf.Unit.Test/CodeGolf.Unit.Test.csproj
Due: none

Update dependency Grpc.Tools to v2.31.0
  CodeGolf.Service/CodeGolf.Service.csproj
Due: none

Update dependency Microsoft.CodeAnalysis.CSharp to v3.7.0
  CodeGolf.Service/CodeGolf.Service.csproj
Due: none

Update dependency Google.Protobuf to v3.13.0
  CodeGolf.Service/CodeGolf.Service.csproj
Due: none

Update dependency axios to v0.20.0
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency bulma-toast to v2.0.3
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency @types/jest to v26.0.10
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency enzyme-adapter-preact-pure to v2.2.3
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update mcr.microsoft.com/dotnet/core/sdk Docker tag to v3.1.401
  .circleci/config.yml
Due: dotnet

Update dependency jest to v26.4.2
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency preact to v10.4.7
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency prettier to v2.1.0
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency sass-loader to v9.0.3
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency typescript to v4
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update linters
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency @monaco-editor/react to v3.6.2
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency lint-staged to v10.2.13
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency sass-loader to v10
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency css-loader to v4
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

updated css loader
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/preact.config.js
  CodeGolf.Web/ClientApp/size-plugin.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Path conditions:
  dotnet: any of: .
  npm: any of: CodeGolf.Web/ClientApp
