Repository luhis/CodeGolf: changes, and which Codecov flags are due for each by the changed paths.
All: dotnet, npm

Removed unused code
  CodeGolf.Domain/ErrorSet.cs
Due: none

added more tests
  Tests/CodeGolf.Unit.Test/Services/GameServiceShould.cs
Due: none

added admin service tests
  Tests/CodeGolf.Unit.Test/Services/AdminServiceShould.cs
Due: none

Update dependency @types/jest to v24.0.25
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency MediatR to v8
  CodeGolf.Service/CodeGolf.Service.csproj
  CodeGolf.Web/CodeGolf.Web.csproj
Due: none

Update dependency MediatR.Extensions.Microsoft.DependencyInjection to v8
  CodeGolf.Web/CodeGolf.Web.csproj
Due: none

Made prop names more sensible
  CodeGolf.Web/ClientApp/src/components/codeEditor/index.tsx
  CodeGolf.Web/ClientApp/src/components/results/index.tsx
  CodeGolf.Web/ClientApp/src/routes/demo/funcComp.tsx
  CodeGolf.Web/ClientApp/src/routes/demo/index.tsx
  CodeGolf.Web/ClientApp/src/routes/game/funcComp.tsx
  CodeGolf.Web/ClientApp/src/routes/game/index.tsx
Due: npm

fixed tests
  CodeGolf.Web/ClientApp/src/tests/components.test.tsx
  CodeGolf.Web/ClientApp/src/tests/routes.test.tsx
Due: npm

Update dependency FluentAssertions to v5.10.0
  Tests/CodeGolf.Integration.Test/CodeGolf.Integration.Test.csproj
  Tests/CodeGolf.Unit.Test/CodeGolf.Unit.Test.csproj
Due: none

Update dependency coverlet.msbuild to v2.8.0
  Tests/CodeGolf.Integration.Test/CodeGolf.Integration.Test.csproj
  Tests/CodeGolf.Unit.Test/CodeGolf.Unit.Test.csproj
Due: none

Update dependency @types/webpack-env to v1.15.0
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency preact-cli to v3.0.0-rc.7
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency ts-jest to v24.3.0
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency axios to v0.19.1
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency preact to v10.2.0
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency husky to v4
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency preact to v10.2.1
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

added font source
  CodeGolf.Web/Extensions/ApplicationBuilderExtensions.cs
Due: none

fix deployment
  CodeGolf.Web/ClientApp/package.json
Due: npm

final prod fix
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/src/types/Global.d.ts
Due: npm

Update dependency husky to v4.0.3
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency husky to v4.0.4
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency husky to v4.0.6
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency husky to v4.0.7
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

fixed bug with errors
  CodeGolf.Web/ClientApp/src/routes/demo/index.tsx
  CodeGolf.Web/ClientApp/src/routes/game/index.tsx
Due: npm

Update NSwag monorepo to v13.2.1
  CodeGolf.Web/CodeGolf.Web.csproj
Due: none

Update dependency husky to v4.0.8
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency husky to v4.0.9
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency Microsoft.AspNetCore.TestHost to v3.1.1
  Tests/CodeGolf.Unit.Test/CodeGolf.Unit.Test.csproj
Due: none

Update mcr.microsoft.com/dotnet/core/sdk Docker tag to v3.1.101
  .circleci/config.yml
Due: dotnet

Update Microsoft.EntityFrameworkCore monorepo to v3.1.1
  CodeGolf.Persistence/CodeGolf.Persistence.csproj
  Tests/CodeGolf.Integration.Test/CodeGolf.Integration.Test.csproj
Due: none

Update aspnet Extensions monorepo to v3.1.1
  CodeGolf.Persistence.Static/CodeGolf.Persistence.Static.csproj
  CodeGolf.Recapcha/CodeGolf.Recaptcha.csproj
  CodeGolf.Service/CodeGolf.Service.csproj
Due: none

Update dependency @types/jest to v24.9.0
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency Microsoft.AspNetCore.SpaServices.Extensions to v3.1.1
  CodeGolf.Web/CodeGolf.Web.csproj
Due: none

Update dependency Microsoft.AspNetCore.Mvc.Testing to v3.1.1
  Tests/CodeGolf.Integration.Test/CodeGolf.Integration.Test.csproj
Due: none

Update dependency husky to v4.0.10
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency node-sass to v4.13.1
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency typescript to v3.7.5
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update NSwag monorepo to v13.2.2
  CodeGolf.Web/CodeGolf.Web.csproj
Due: none

Update dependency lint-staged to v10
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Path conditions:
  dotnet: any of: .
  npm: any of: CodeGolf.Web/ClientApp
