Repository luhis/CodeGolf: changes, and which Codecov flags are due for each by the changed paths.
All: dotnet, npm

codecov.yml:

coverage:
  status:
    projects:
      dotnet:
        flags: dotnet
      npm:
        flags: npm          
flags:
  dotnet:
    paths:
      - .
  npm:
    paths:
      - CodeGolf.Web/ClientApp

Update dependency preact-render-to-string to v5.1.6
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency eslint-plugin-prettier to v3.1.3
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update typescript-eslint monorepo to v2.28.0
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency @typescript-eslint/eslint-plugin-tslint to v2.28.0
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency @monaco-editor/react to v3.3.0
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency bulma-toast to v1.5.9
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency ts-loader to v7
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

updated hash
  CodeGolf.CollectableAssembly/CodeGolf.CollectableAssembly.csproj
  CodeGolf.CollectableAssembly/DiModule.cs
  CodeGolf.Web/Extensions/ApplicationBuilderExtensions.cs
Due: none

Update dependency lint-staged to v10.1.4
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency Swashbuckle.AspNetCore to v5.3.2
  CodeGolf.Web/CodeGolf.Web.csproj
Due: none

Update dependency ts-jest to v25.4.0
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency lint-staged to v10.1.5
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency jest to v25.4.0
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency ts-loader to v7.0.1
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency lint-staged to v10.1.6
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency Microsoft.NET.Test.Sdk to v16.6.0
  Tests/CodeGolf.Integration.Test/CodeGolf.Integration.Test.csproj
  Tests/CodeGolf.Unit.Test/CodeGolf.Unit.Test.csproj
Due: none

Update dependency bulma-toast to v1.5.10
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency Swashbuckle.AspNetCore to v5.3.3
  CodeGolf.Web/CodeGolf.Web.csproj
Due: none

Update linters
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency preact to v10.4.1
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency lint-staged to v10.1.7
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency prettier to v2.0.5
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency Microsoft.NET.Test.Sdk to v16.6.1
  Tests/CodeGolf.Integration.Test/CodeGolf.Integration.Test.csproj
  Tests/CodeGolf.Unit.Test/CodeGolf.Unit.Test.csproj
Due: none

Update dependency @types/webpack-env to v1.15.2
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency Moq to v4.14.0
  Tests/CodeGolf.Unit.Test/CodeGolf.Unit.Test.csproj
Due: none

Update typescript-eslint monorepo to v2.29.0
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update typescript-eslint monorepo to v2.30.0
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency lint-staged to v10.2.0
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency @typescript-eslint/eslint-plugin-tslint to v2.30.0
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency Moq to v4.14.1
  Tests/CodeGolf.Unit.Test/CodeGolf.Unit.Test.csproj
Due: none

Update dependency Swashbuckle.AspNetCore to v5.4.0
  CodeGolf.Web/CodeGolf.Web.csproj
Due: none

Update dependency node-sass to v4.14.0
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

a
  CodeGolf.Service/AdminService.cs
  CodeGolf.Service/DashboardService.cs
  CodeGolf.Service/GameService.cs
Due: none

Docker attempt
  .dockerignore
  CodeGolf.ExecutionServer/CodeGolf.ExecutionServer.csproj
  CodeGolf.ExecutionServer/Controllers/WeatherForecastController.cs
  CodeGolf.ExecutionServer/Dockerfile
  CodeGolf.ExecutionServer/Program.cs
  CodeGolf.ExecutionServer/Properties/launchSettings.json
  CodeGolf.ExecutionServer/Startup.cs
  CodeGolf.ExecutionServer/WeatherForecast.cs
  CodeGolf.ExecutionServer/appsettings.json
  CodeGolf.Service/ExecutionProxy.cs
  CodeGolf.ServiceInterfaces/SharedSettings.cs
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/CodeGolf.Web.csproj
  CodeGolf.Web/Dockerfile
  CodeGolf.Web/Properties/launchSettings.json
  CodeGolf.Web/Startup.cs
  CodeGolf.Web/appsettings.json
  CodeGolf.sln
  docker-compose.dcproj
  docker-compose.override.yml
  docker-compose.yml
Due: dotnet, npm

Update dependency jest to v25.5.0
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

improve tagged unions from API
  CodeGolf.Web/ClientApp/src/api/playerApi.ts
  CodeGolf.Web/Mappers/SubmissionResultMapper.cs
  CodeGolf.Web/Models/SubmissionResult.cs
Due: npm

Update dependency Swashbuckle.AspNetCore to v5.4.1
  CodeGolf.Web/CodeGolf.Web.csproj
Due: none

Update dependency jest to v25.5.1
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency Ensure.That to v9
  CodeGolf.Domain/CodeGolf.Domain.csproj
  CodeGolf.Recaptcha/CodeGolf.Recaptcha.csproj
  CodeGolf.Service/CodeGolf.Service.csproj
Due: none
