Repository luhis/CodeGolf: changes, and which Codecov flags are due for each by the changed paths.
All: dotnet, npm

codecov.yml:

coverage:
  status:
    projects:
      dotnet:
        flags: dotnet
      npm:
        flags: npm          
flags:
  dotnet:
    paths:
      - .
  npm:
    paths:
      - CodeGolf.Web/ClientApp

more tests
  CodeGolf.Web/ClientApp/src/tests/routes.test.tsx
  CodeGolf.Web/ClientApp/src/types/types.ts
Due: npm

Fixed privacy modal bug
  CodeGolf.Web/ClientApp/src/components/privacy/funcComp.tsx
Due: npm

updated packages
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency Microsoft.VisualStudio.Threading.Analyzers to v16.5.132
  CodeGolf.Domain/CodeGolf.Domain.csproj
  CodeGolf.ExecutionServer/CodeGolf.ExecutionServer.csproj
  CodeGolf.Persistence.Static/CodeGolf.Persistence.Static.csproj
  CodeGolf.Persistence/CodeGolf.Persistence.csproj
  CodeGolf.Recapcha/CodeGolf.Recaptcha.csproj
  CodeGolf.Service/CodeGolf.Service.csproj
  CodeGolf.ServiceInterfaces/CodeGolf.ServiceInterfaces.csproj
  CodeGolf.Web/CodeGolf.Web.csproj
  Tests/CodeGolf.Integration.Test/CodeGolf.Integration.Test.csproj
  Tests/CodeGolf.Unit.Test/CodeGolf.Unit.Test.csproj
Due: none

Update dependency ts-date to v3
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency husky to v4.2.2
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update NSwag monorepo to v13.2.3
  CodeGolf.Web/CodeGolf.Web.csproj
Due: none

Update dependency husky to v4.2.3
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency preact-cli to v3.0.0-rc.8
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

moved dashboard to func componetn
  CodeGolf.Web/ClientApp/src/api/adminApi.ts
  CodeGolf.Web/ClientApp/src/routes/dashboard/index.tsx
  CodeGolf.Web/swagger.json
Due: npm

Update dependency preact-cli to v3.0.0-rc.9
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

ignored swagger.json
  .gitignore
  CodeGolf.Web/swagger.json
Due: dotnet

Update dependency preact to v10.3.2
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Move another component to func comp
  CodeGolf.Web/ClientApp/src/routes/attempt/index.tsx
  CodeGolf.Web/ClientApp/src/routes/dashboard/index.tsx
Due: npm

migrated another file to func component
  CodeGolf.Web/ClientApp/src/routes/codefile/index.tsx
Due: npm

migrated another component
  CodeGolf.Web/ClientApp/src/routes/results/index.tsx
Due: npm

clean up hooks
  CodeGolf.Web/ClientApp/src/routes/admin/index.tsx
  CodeGolf.Web/ClientApp/src/routes/attempt/index.tsx
  CodeGolf.Web/ClientApp/src/routes/codefile/index.tsx
Due: npm

added cleanup
  CodeGolf.ExecutionServer/ExecutionService.cs
Due: none

fixed runtime error returning from service
  CodeGolf.Service/ExecutionProxy.cs
Due: none

corrected failing tests
  Tests/CodeGolf.Unit.Test/Services/RunnerShould.cs
Due: none

fixed error underlining
  CodeGolf.Web/ClientApp/src/components/codeEditor/index.tsx
Due: npm

removed code indent
  CodeGolf.Service/ErrorMessageTransformer.cs
  CodeGolf.Service/Runner.cs
  Tests/CodeGolf.Unit.Test/Services/SecurityTests.cs
Due: none

Update dependency Google.Protobuf to v3.11.4
  CodeGolf.Service/CodeGolf.Service.csproj
Due: none

Update aspnet Extensions monorepo to v3.1.2
  CodeGolf.Persistence.Static/CodeGolf.Persistence.Static.csproj
  CodeGolf.Recapcha/CodeGolf.Recaptcha.csproj
  CodeGolf.Service/CodeGolf.Service.csproj
Due: none

Update dependency Microsoft.AspNetCore.SpaServices.Extensions to v3.1.2
  CodeGolf.Web/CodeGolf.Web.csproj
Due: none

Update dependency Microsoft.AspNetCore.TestHost to v3.1.2
  Tests/CodeGolf.Unit.Test/CodeGolf.Unit.Test.csproj
Due: none

Update dependency System.Text.Json to v4.7.1
  CodeGolf.Recapcha/CodeGolf.Recaptcha.csproj
  CodeGolf.Service/CodeGolf.Service.csproj
Due: none

Update dependency Microsoft.AspNetCore.Mvc.Testing to v3.1.2
  Tests/CodeGolf.Integration.Test/CodeGolf.Integration.Test.csproj
Due: none

Update mcr.microsoft.com/dotnet/core/sdk Docker tag to v3.1.102
  .circleci/config.yml
Due: dotnet

Update dependency ts-jest to v25.2.1
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency @types/jest to v25.1.3
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update Microsoft.EntityFrameworkCore monorepo to v3.1.2
  CodeGolf.Persistence/CodeGolf.Persistence.csproj
  Tests/CodeGolf.Integration.Test/CodeGolf.Integration.Test.csproj
Due: none

Update dependency typescript to v3.8.2
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

improve csp
  CodeGolf.Web/Extensions/ApplicationBuilderExtensions.cs
Due: none

updated versions in index
  CodeGolf.Web/ClientApp/src/routes/home/index.tsx
Due: npm

rolled back broken preact CLI and commented out broken swagger
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
  CodeGolf.Web/CodeGolf.Web.csproj
Due: npm

migrated component to functional component
  CodeGolf.Web/ClientApp/.vscode/settings.json
  CodeGolf.Web/ClientApp/src/routes/demo/index.tsx
Due: npm

mirated last component to function
  CodeGolf.Web/ClientApp/src/routes/game/index.tsx
Due: npm

refactored alert
  CodeGolf.Web/ClientApp/.vscode/settings.json
  CodeGolf.Web/ClientApp/src/routes/game/notification.ts
  CodeGolf.Web/ClientApp/src/routes/game/notificationTemplate.tsx
Due: npm

removed number hint
  CodeGolf.Web/ClientApp/src/routes/game/notification.ts
Due: npm
