Repository luhis/CodeGolf: changes, and which Codecov flags are due for each by the changed paths.
All: dotnet, npm

codecov.yml:

coverage:
  status:
    projects:
      dotnet:
        flags: dotnet
      npm:
        flags: npm          
flags:
  dotnet:
    paths:
      - .
  npm:
    paths:
      - CodeGolf.Web/ClientApp

Update dependency lint-staged to v10.0.1
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency Microsoft.VisualStudio.Threading.Analyzers to v16.4.45
  CodeGolf.Domain/CodeGolf.Domain.csproj
  CodeGolf.ExecutionServer/CodeGolf.ExecutionServer.csproj
  CodeGolf.Persistence.Static/CodeGolf.Persistence.Static.csproj
  CodeGolf.Persistence/CodeGolf.Persistence.csproj
  CodeGolf.Recapcha/CodeGolf.Recaptcha.csproj
  CodeGolf.Service/CodeGolf.Service.csproj
  CodeGolf.ServiceInterfaces/CodeGolf.ServiceInterfaces.csproj
  CodeGolf.Web/CodeGolf.Web.csproj
  Tests/CodeGolf.Integration.Test/CodeGolf.Integration.Test.csproj
  Tests/CodeGolf.Unit.Test/CodeGolf.Unit.Test.csproj
Due: none

Update dependency husky to v4.1.0
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency ts-date to v2.3.2
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency husky to v4.2.0
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency jest to v25
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency axios to v0.19.2
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency lint-staged to v10.0.2
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

swagger doc update
  CodeGolf.Web/swagger.json
Due: none

Update dependency @types/jest to v24.9.1
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency husky to v4.2.1
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency preact-render-to-string to v5.1.4
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency ts-jest to v25
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency preact-router to v3.2.0
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency ts-date to v2.3.3
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency lint-staged to v10.0.3
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency preact-router to v3.2.1
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency @types/jest to v25
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency lint-staged to v10.0.4
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update definitelyTyped
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency lint-staged to v10.0.5
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency ts-jest to v25.1.0
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency lint-staged to v10.0.6
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency lint-staged to v10.0.7
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency ts-jest to v25.2.0
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency Google.Protobuf to v3.11.3
  CodeGolf.Service/CodeGolf.Service.csproj
Due: none

Update dependency markdown-to-jsx to v6.11.0
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency Microsoft.NET.Test.Sdk to v16.5.0
  Tests/CodeGolf.Integration.Test/CodeGolf.Integration.Test.csproj
  Tests/CodeGolf.Unit.Test/CodeGolf.Unit.Test.csproj
Due: none

Update dependency Grpc.Tools to v2.27.0
  CodeGolf.Service/CodeGolf.Service.csproj
Due: none

Update Font Awesome
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency @monaco-editor/react to v3.1.0
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency @types/jest to v25.1.2
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency preact to v10.3.1
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

added assembly collection
  CodeGolf.ExecutionServer/CollectibleAssemblyLoadContext.cs
  CodeGolf.ExecutionServer/ExecutionService.cs
  CodeGolf.Web/Extensions/ApplicationBuilderExtensions.cs
Due: none

Update dependency Grpc.Net.Client to v2.27.0
  CodeGolf.Service/CodeGolf.Service.csproj
Due: none

Update dependency Grpc.AspNetCore to v2.27.0
  CodeGolf.ExecutionServer/CodeGolf.ExecutionServer.csproj
Due: none

ignored coverage folder
  .gitignore
Due: dotnet

More test coverage
  CodeGolf.Web/ClientApp/src/routes/admin/index.tsx
  CodeGolf.Web/ClientApp/src/tests/routes.test.tsx
Due: npm

Update dependency FluentAssertions to v5.10.2
  Tests/CodeGolf.Integration.Test/CodeGolf.Integration.Test.csproj
  Tests/CodeGolf.Unit.Test/CodeGolf.Unit.Test.csproj
Due: none

more tests
  CodeGolf.Web/ClientApp/src/tests/routes.test.tsx
Due: npm
