Repository luhis/CodeGolf: changes, and which Codecov flags are due for each by the changed paths.
All: dotnet, npm

codecov.yml:

coverage:
  status:
    projects:
      dotnet:
        flags: dotnet
      npm:
        flags: npm          
flags:
  dotnet:
    paths:
      - .
  npm:
    paths:
      - CodeGolf.Web/ClientApp

fix coverage (#98)
  .circleci/config.yml
  codecov.yml
Due: dotnet

Update dependency copy-webpack-plugin to v5.1.0
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency preact to v10.1.0
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency @monaco-editor/react to v2.3.5
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Make tests collect coverage for Codecov.
  .circleci/config.yml
  CodeGolf.Web/ClientApp/package.json
  Tests/CodeGolf.Integration.Test/CodeGolf.Integration.Test.csproj
  Tests/CodeGolf.Unit.Test/CodeGolf.Unit.Test.csproj
Due: dotnet, npm

Make tests collect coverage for Codecov. (#102)
  .circleci/config.yml
  CodeGolf.Web/ClientApp/package.json
  Tests/CodeGolf.Integration.Test/CodeGolf.Integration.Test.csproj
  Tests/CodeGolf.Unit.Test/CodeGolf.Unit.Test.csproj
Due: dotnet, npm

Update dependency Microsoft.AspNetCore.Mvc.Testing to v3.1.0
  Tests/CodeGolf.Integration.Test/CodeGolf.Integration.Test.csproj
Due: none

Update dependency Microsoft.AspNetCore.TestHost to v3.1.0
  Tests/CodeGolf.Unit.Test/CodeGolf.Unit.Test.csproj
Due: none

Update readme.md
  readme.md
Due: none

Update dependency @monaco-editor/react to v2.4.0
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update Font Awesome
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency copy-webpack-plugin to v5.1.1
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency Google.Protobuf to v3.11.2
  CodeGolf.Service/CodeGolf.Service.csproj
Due: none

Update dependency preact to v10.1.1
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency @types/jest to v24.0.24
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update NSwag monorepo to v13.2.0
  CodeGolf.Web/CodeGolf.Web.csproj
Due: none

Update dependency Grpc.Tools to v2.26.0
  CodeGolf.Service/CodeGolf.Service.csproj
Due: none

update to core 3.1
  CodeGolf.ExecutionServer/CodeGolf.ExecutionServer.csproj
  CodeGolf.Persistence/CodeGolf.Persistence.csproj
  CodeGolf.Web/CodeGolf.Web.csproj
  CodeGolf.Web/swagger.json
  Tests/CodeGolf.Integration.Test/CodeGolf.Integration.Test.csproj
  Tests/CodeGolf.Unit.Test/CodeGolf.Unit.Test.csproj
Due: none

update to core 3.1 (#111)
  CodeGolf.ExecutionServer/CodeGolf.ExecutionServer.csproj
  CodeGolf.Persistence/CodeGolf.Persistence.csproj
  CodeGolf.Web/CodeGolf.Web.csproj
  CodeGolf.Web/swagger.json
  Tests/CodeGolf.Integration.Test/CodeGolf.Integration.Test.csproj
  Tests/CodeGolf.Unit.Test/CodeGolf.Unit.Test.csproj
Due: none

Update dependency @monaco-editor/react to v2.5.0
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency Microsoft.VisualStudio.Threading.Analyzers to v16.4.39
  CodeGolf.Domain/CodeGolf.Domain.csproj
  CodeGolf.ExecutionServer/CodeGolf.ExecutionServer.csproj
  CodeGolf.Persistence.Static/CodeGolf.Persistence.Static.csproj
  CodeGolf.Persistence/CodeGolf.Persistence.csproj
  CodeGolf.Recapcha/CodeGolf.Recaptcha.csproj
  CodeGolf.Service/CodeGolf.Service.csproj
  CodeGolf.ServiceInterfaces/CodeGolf.ServiceInterfaces.csproj
  CodeGolf.Web/CodeGolf.Web.csproj
  Tests/CodeGolf.Integration.Test/CodeGolf.Integration.Test.csproj
  Tests/CodeGolf.Unit.Test/CodeGolf.Unit.Test.csproj
Due: none

Update dependency Microsoft.VisualStudio.Threading.Analyzers to v16.4.43
  CodeGolf.Domain/CodeGolf.Domain.csproj
  CodeGolf.ExecutionServer/CodeGolf.ExecutionServer.csproj
  CodeGolf.Persistence.Static/CodeGolf.Persistence.Static.csproj
  CodeGolf.Persistence/CodeGolf.Persistence.csproj
  CodeGolf.Recapcha/CodeGolf.Recaptcha.csproj
  CodeGolf.Service/CodeGolf.Service.csproj
  CodeGolf.ServiceInterfaces/CodeGolf.ServiceInterfaces.csproj
  CodeGolf.Web/CodeGolf.Web.csproj
  Tests/CodeGolf.Integration.Test/CodeGolf.Integration.Test.csproj
  Tests/CodeGolf.Unit.Test/CodeGolf.Unit.Test.csproj
Due: none

Update dependency Grpc.AspNetCore to v2.26.0
  CodeGolf.ExecutionServer/CodeGolf.ExecutionServer.csproj
Due: none

Update dependency Grpc.Net.Client to v2.26.0
  CodeGolf.Service/CodeGolf.Service.csproj
Due: none

Update dependency preact-render-to-string to v5.1.3
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency enzyme to v3.11.0
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Removed unused mock
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/src/tests/__mocks__/browserMocks.js
Due: npm

Update dependency typescript to v3.7.4
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

added mediator
  CodeGolf.Service/CodeGolf.Service.csproj
  CodeGolf.Service/DiModule.cs
  CodeGolf.Service/Handlers/FinalScores.cs
  CodeGolf.Service/Handlers/FinalScoresHandler.cs
  CodeGolf.Service/IResultsService.cs
  CodeGolf.Web/CodeGolf.Web.csproj
  CodeGolf.Web/Controllers/AdminController.cs
  CodeGolf.Web/Startup.cs
  Tests/CodeGolf.Unit.Test/Services/ResultsServiceShould.cs
Due: none

updated typescript
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

More test coverage
  CodeGolf.Web/ClientApp/src/tests/routes.test.tsx
Due: npm

more tests
  CodeGolf.Web/ClientApp/src/tests/components.test.tsx
  CodeGolf.Web/ClientApp/src/tests/routes.test.tsx
Due: npm

Update dependency @monaco-editor/react to v2.6.1
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Update dependency @monaco-editor/react to v3
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

updated js hash
  CodeGolf.Web/Extensions/ApplicationBuilderExtensions.cs
Due: none

add http client factory
  CodeGolf.Recapcha/CodeGolf.Recaptcha.csproj
  CodeGolf.Recapcha/DiModule.cs
  CodeGolf.Recapcha/RecaptchaVerifier.cs
  CodeGolf.Web/ClientApp/src/tests/routes.test.tsx
  Tests/CodeGolf.Integration.Test/Controllers/ChallengeControllerShould.cs
Due: npm

Added recapcha mocking
  CodeGolf.Web/Attributes/RecaptchaAttribute.cs
  CodeGolf.Web/WebServices/GetIp.cs
  CodeGolf.Web/WebServices/IGetIp.cs
  Tests/CodeGolf.Integration.Test/Controllers/ChallengeControllerShould.cs
  Tests/CodeGolf.Integration.Test/Fixtures/CustomWebApplicationFactory.cs
  Tests/CodeGolf.Integration.Test/Fixtures/GetMockIp.cs
  Tests/CodeGolf.Integration.Test/Fixtures/MockRecaptchaVerifier.cs
Due: none

Update dependency @monaco-editor/react to v3.0.1
  CodeGolf.Web/ClientApp/package.json
  CodeGolf.Web/ClientApp/yarn.lock
Due: npm

Another attempt at integration test
  CodeGolf.Web/Extensions/ServiceCollectionExtensions.cs
  Tests/CodeGolf.Integration.Test/Controllers/ChallengeControllerShould.cs
  Tests/CodeGolf.Integration.Test/Fixtures/CustomWebApplicationFactory.cs
  Tests/CodeGolf.Integration.Test/Tooling/TestAuthHandler.cs
Due: none
